html, body {
	/*This code makes the webpage take up the entire window. If removed, the browser leaves a small border.*/
  width: 100%;
	height: 100%;
	margin: 0;
}

body {

	background-color: #EEE; /* Grey */
	font-family: Arial, verdana, sans-serif;
  /* It will try and use Arial, and if that fails will try verdana and sans-serif respectively*/
}
section {
  margin: 0 auto;

}
header {
	text-align: center;
  /*Centers all text inside the header */
  background-color: #3498db; /*Peter River (Blue) */
  padding: 20px;
  color: #FFF; /*White*/
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
}
article, aside {
	width: 640px;
	margin: 20px auto;
	padding: 20px;
	background-color: #FFF; /*white*/
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5); /*sets the size and opacity/color of the shadow respectivly */
  background: white;
	font-weight: 100;

}
aside {
  /*The "Jump to" area of teh web page.*/
  margin-left: 30px;
	width: 200px;
	float: left;
  margin-top: 0;

}
.blank {
  display: none


}
#mainjump {
  width: 640px;
  margin: 0 auto;
  margin-top: 20px;
}
h2 {
  /*Used for the Jump to heading only*/
	margin-left: 20px;
}
h3 {
  /*Used for each article heading*/
	text-align: center;
}

ul {

	list-style-type: none;
}
li {
	padding: 2px;
}


/* link */
 a:link , a:visited {
    color: #7f8c8d;
      /*Grey*/
    text-decoration: none;
}

/* mouse over link */
 a:hover {
    color: #ff0000;
      /*Red*/
    text-decoration: underline;
}



img {
  padding: 15px;

}
footer {
  background-color: #7f8c8d;
  color: #FFF;
  padding: 20px;
  text-align: center;
}
